@media (min-width: 851px) and (max-width: 1440px) {
    body {
        background-color: #ebeaea;
        position: relative;
        width: 100vw;
        margin: 0;
        font-family: "Montserrat", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      
      code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
          monospace;
      }
      
      
      a{
        text-decoration: none;
        color: black;
        cursor: pointer;
        transition: 0.5s;
      }
      
      a:visited{
        text-decoration: none;
        color: black;
      }
      
      a:hover{
        transition: 0.5s;
        color: red;
      }
      
      main{
        position: relative;
        display: flex;
        justify-content: center;
        max-width: 1000px;
        margin: auto  ;
        height: 100vh;
      }
      header {
        display: flex;
        align-items: center;
        justify-content: end;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
        height: 25vh;
        background-color: rgb(244, 176, 6);
      }
      
      header img{
        padding-right: 5vw;
      }
      
      .container{
        margin-top: 70px;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 2fr 1fr 2fr;
      }
      
      .container > div{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .avatar {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-column: 1/2;
        grid-row: 1/2;
       
      }
      
      .avatar img{
        height: 350px;
        width: 200px;
        border-radius: 10px;
        box-shadow: 0 0 10px 1px;
      }
      
      .contacts {
      
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        grid-column: 2;
        grid-row: 1/2;
      }
      
      .contacts__msg_title{
        font-weight: 300;
        font-size: 2rem;
        margin-bottom: 10px;
      }
      
      .contacts__msg{
        text-align: center;
        font-size: 1.5rem;
      }
      
      .contacts__msg_name{
        letter-spacing: 4px;
        font-size: 2rem;
        font-weight: 700;
      }
      
      .contacts__info{
        margin-bottom: 25px;
        font-size: 1.3rem;
      }
      
      .contacts__info h2 {
        margin-bottom: 20px;
      }
      
      .skills {
        font-size: 1.1rem;
        margin-top: 30px;
        border-top: 2px solid black;
        border-right: 2px solid black;
        grid-column: 1/2;
        grid-row: 2/3;
      }
      
      .skills .type {
        padding: 0;
        margin: 0;
        list-style: none;
      }
      
      .skills .skill {
        list-style:circle;
      }
      
      .education {
        font-size: 1.1rem;
        margin: auto;
        margin-top: 30px;
        border-top: 2px solid black;
        grid-column: 2;
        grid-row: 2/3;
      }
      
      .education .list {
        padding-inline-start: 80px;
      }
      .experience{
        font-size: 1.1rem;
        display: flex;
        border-top: 2px solid black;
        grid-column: 1/2;
        grid-row: 3;
        border-right: 2px solid black;
      }
      
      .experience ul {
        padding-inline-start: 20px;
      }
      
      .experience .link {
        display: flex;
        justify-content: center;
        
      }
      
      .about{
        font-size: 1.1rem;
        border-top: 2px solid black;
        grid-column: 2;
        grid-row: 3;
      }
      
      .about .sub {
        list-style:none;
      }

      /* modal */

      .modal{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        z-index: 5;
        transition: 0.5s;
      }

      .modal__box{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 750px;
        width: 800px;
        border: 1px solid black;
        border-radius: 15px;
        transition: 0.5s;
      }

      .modal__box::after {
        position: absolute;
        content: "Свайпай в сторону";
        color: whitesmoke;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width:200px;
        border: 1px solid whitesmoke;
        border-radius: 10px;
        z-index: 10;
        top: 80px;
        left: calc(50% - 300px);
        box-shadow: 0 0 10px whitesmoke;
      }

      .modal__box img {
        max-width: 500px;
        max-height: 500px;
      }


      .modal__box img:hover {
        scale: 1.2;
        transition: 0.5s;
      }

      .modal__slider{
        
        width: 80%;
      }
      .modal__close {
        display: flex;
        justify-content: end;
        padding-right: 10px;
        width: 80%;
        cursor: pointer;
      }


      .swiper-slide{
        display: flex;
        max-height: 500px;
        justify-content: center;
        align-items: center;
      }



      .swiper-button-prev , .swiper-button-next {
        color: black;
        width: 60px;
        height: 60px;
        border: 2px solid black;
        border-radius: 50px;
      }

      .hide {
        visibility: hidden;
        opacity: 0;
        transition: 0.5s;
      }    
      
      
      
      
  }